/*
 * fonts:
 * https://fonts.google.com/specimen/Audiowide?selection.family=Audiowide
 * https://fonts.google.com/specimen/Source+Code+Pro
 * https://fonts.google.com/specimen/Inconsolata
 * https://fonts.google.com/specimen/VT323
 * https://fonts.google.com/specimen/Unica+One
 * https://fonts.google.com/specimen/Ubuntu+Mono
 * https://fonts.google.com/specimen/Press+Start+2P
 */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

.black {
  background: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font: 23px 'Orbitron', sans-serif;
}

#name h1 {
  font-size: 1.3em;
}
