#wrapper {
  background: white;
  margin: auto auto;
  size: 50;
}

.rect {
  text-align: center;
}

#name {
  background: white;
}

#about,#links {
  width: 33%;
  margin: auto auto;
}

#tbd,#about,#links,#resume {
  background: black;
  color: white;
}

#tbd,#name,#resume {
  display: inline-block;
}
