#wrapper {
  background: white;
  margin: auto auto;
  size: 50;
}

.rect {
  text-align: center;
}

#name {
  background: white;
}

#about,#github {
  width: 33%;
  margin: auto auto;
}

#linkedin,#about,#github,#resume {
  background: black;
  color: white;
}

#linkedin,#name,#resume {
  display: inline-block;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
  background: grey;
}

img {
  height: 33%;
  max-height: 33%;
}

#linkedin:hover {
  content: url("images/linkedin-letters-white.png");
}

#github:hover {
  content: url("images/github-letters-white.png");
}
/*
a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}
*/

