@import url('https://fonts.googleapis.com/css?family=Orbitron');

/* ---- COLORING ----  */
#linkedin,#about,#github,#resume {
  background: black;
  color: white;
}

#wrapper {
  background: yellow;
}

#name {
  background: aqua;
}

/* ---- STYLE ---- */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
  background: grey;
}

#linkedin:hover {
  content: url("images/linkedin-letters-white.png");
}

#github:hover {
  content: url("images/github-letters-white.png");
}

body {
  font: 2em 'Orbitron', sans-serif;
}

/* ---- STRUCTURE ---- */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#wrapper {
  background: white;
  margin: 0 auto;
  width: 50%;
  height: 30%;
  max-height: 30%;
  position: fixed;
  top: 20%;
  left: 25%;
}

.rect {
  margin: 0;
  height: 33%;
  width: 33%;
  text-align: center;
}

#about,#resume {
  margin: 0 auto;
}

p, a{
  background: indigo;
  margin: 0;
}

#linkedin,#name,#github{
  display: inline-block;
}

/*#linkedin img {
  margin: 0;
  height: 70%;
  max-height: 70%;
  position: relative;
  top: 10%;
}

#github img {
  height: 70%;
  max-height: 70%;
  position: relative;
  top: 10%;
}
*/
/*img {
height: 100%;
max-height: 100%;
}
 */
